@import '../../../../../styles/variables';

.container{
    height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    h3{
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        &:first-child{
            margin-bottom: 52px;
        }
        
    }
    .List{

        h3{
            margin: 0;
        }
        ul{
            padding-inline-start:0;
            margin-top: 0px;
            li{
                &:hover{
                    cursor: pointer;
                }
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                color: $grayCl;
                list-style: none;
            }
        }
    
    }
}

.old{
    display: none;
}

.new{
    color: $goldCl;
}