.TechnicsContainer{
    margin-top: 130px;
    user-select: none;
    
    p{
        font-style: normal;
font-weight: 300;
font-size: 20px;
    }
    svg{
        font-size: 21px;
        color:rgba(165, 165, 165, 0.7);

    }
}

