@import '../../../../styles/variables';

.container {
  width: 252px;
  padding: 20px 15px;

  h2 {
    font-weight: 500;
    font-size: 30px;
  }

  .inputBlock {
    display: flex;
    flex-wrap: wrap;

  }

  .PriceInputBlock {
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    padding: 6px 0 6px 7px;
    font-weight: 300;
    font-size: 15px;

    input {
      height: 30px;
      width: 50px;
      outline: none;
      border: none;
    }

    p {
      margin-right: 5px;
    }
  }

  button {
    width: 222px;
    height: 40px;
    text-align: center;
    color: $darkBlueBg;
    border: 2px solid $darkBlueBg;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
  }

}

.CheckedInput {
  input[type="checkbox"] {
    display: none;
  }

  .checked {
    border: 2px solid $darkBlueBg;
    padding: 4px 9px;
    margin-right: 10px;
    margin-top: 5px;
    user-select: none;
    display: inline-block;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
  }

  .default {
    margin-right: 10px;
    margin-top: 5px;
    user-select: none;
    padding: 6px 11px;
    display: inline-block;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
  }
}