@import '../../../../../styles/variables';

$inputWidth:613px;

.Wdth{
    width:$inputWidth; 
    position: relative;
}

.inputStyle{
    width: $inputWidth;
    height: 55px;
    line-height: 55px;
    background-color: $whiteCl;
    border-radius: 5px;
    outline: none;
    border: none;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: black;
    padding: 20px;
    ::placeholder {
        opacity: 0.5;
        
      }
}

.icon{
    position: absolute;
    top: 12.75px;
    right: 12.75px;
font-size: 29px;
}