.container{
    
    width:640px;
    h2{
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 35px;
    }
    .line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        p.property{
            width: 310px;
            color: #8B8B8B;
        }

        p.value{
        width:301px
        }
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 68px;
        }
    }

}