@import '../../../../../../styles/variables';
.CheckedInput{
    input[type="radio"]{
        display: none;
    }
     label.checked {
        border:1.5px solid $darkBlueBg;
        border-radius: 50%;
        color: white;
        padding: 4px;
        width: 43px;
        height: 43px;
        margin-right: 10px;
        margin-top: 5px;
        user-select: none;
        padding: 6px 11px;
        display: inline-block;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        }
      }
      label.default{
        width: 43px;
        height: 43px;
        margin-right: 10px;
        margin-top: 5px;
        user-select: none;
        padding: 6px 11px;
        display: inline-block;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
        border-radius: 50%;
        width: 35px;
        height: 35px;
        }

      }
}

.ColorInputContainer{
    display: flex;
}