@import "styles/variables";

.orderItemContainer {
  margin-top: 39px;
  margin-bottom: 24px;


  &:last-child {
    margin-bottom: 37px;
  }

  div {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    span {
      margin-left: 8px;
      color: $grayCl;
    }

    p {
      margin-left: 55px;

    }
  }
}