$pcWidth: 1200px;
$whiteCl: #FFFFFF;
$darkBlueBg: #011F7F;
$lightBlueCl: #002FC5;
$goldCl: #FEC50C;
$lightYellow: #FFD439;
$goldGradientCl: linear-gradient(97.82deg, #FFFFFF -9.06%, #FEC50C 109.18%);
$grayCl: #575757;
$soloPhoneCl: #011F7F;

