@import '../../../../styles/variables';

.Flexcontainer {
  display: flex;
  height: 690px;
  justify-content: space-between;
  align-items: center;
}

.MainBanner {
  width: 690px;
  height: 640px;
  background-color: $darkBlueBg;
  border-radius: 10px;
  margin: 27px 24px 27px 0;
  position: relative;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  h2 {
    position: absolute;
    top: 32px;
    left: 31px;
    width: 291px;
    font-weight: 900;
    font-size: 36px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: $goldGradientCl;
    z-index: 2;

  }
}

.Banners {
  display: flex;
  flex-direction: column;
  //position: relative;
  //bottom: 667px;
  //left: 716px;
}

.FirstBanner {
  width: 486px;
  height: 198px;
  background-color: #FFD439;
  border-radius: 10px;
  position: relative;
  margin-bottom: 24px;

  h2 {
    position: absolute;
    width: 232px;
    left: 30px;
    top: 54px;
    color: #011F7F;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
  }
}

.SecondBanner {
  width: 486px;
  height: 198px;
  background-color: #011F7F;
  border-radius: 10px;
  position: relative;
  margin-bottom: 22px;

  h2 {
    position: absolute;
    width: 271px;
    left: 32px;
    top: 69px;
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
  }
}

.ThirdBanner {
  width: 486px;
  height: 198px;
  background-color: #FFD439;
  border-radius: 10px;
  position: relative;

  h2 {
    position: absolute;
    width: 219px;
    left: 30px;
    top: 54px;
    color: #011F7F;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
  }

  img {
    position: absolute;
    right: 20px;
    top: 21px;
  }
}

.GalaxyFirst {
  position: absolute;
  right: 59px;
  top: -15px;
}

.IphoneFirst {
  position: absolute;
  right: 38px;
  top: 21px;
}

.PhoneFirst {
  position: absolute;
  left: 315px;
  bottom: -15px;
}

.Headphone {
  position: absolute;
  right: 68px;
  bottom: 15px;
  z-index: 2;
}

.IphoneSecond {
  position: absolute;
  right: 1px;
  top: 13px;
}

.Logos {
  width: 792px;
  height: 90px;
  display: flex;
  margin: 27px auto 0;
  align-items: center;
  justify-content: space-between;
}

.soloLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 180px;
  height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
